/* div is horizontal */
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 60px;
    flex: 1;
}

app-navigation-menu {
    flex: 10;
}

app-account-menu {
    flex: 2;
}

.main {
    margin-left: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
}

hr {
    height: 1px;
    border: none;
    background-color: black;
}