/* div is horizontal */
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: .5em;
    margin-bottom: -.5em; /* To prevent to line hr white space */
}

.logo {
    height: 3.2em;
    margin-top: .3em;
    margin-bottom: .3em;
    flex: 1;
}

app-navigation-menu {
    flex: 10;
}

app-account-menu {
    flex: 2;
}

.main {
    margin-left: .5em;
    margin-right: 1em;
    margin-bottom: -.5em; /* To prevent to line hr white space */
}

hr {
    height: 1px;
    border: none;
    background-color: black;
}