h1 {
    font-size: 1.4em;
    margin-bottom: .8em;
    font-weight: normal;
}

.main {
    margin-left: 1em;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

.content {
    flex: 1;
    margin-right: 1.2em;
}

.vertical-line {
    border: none;
    background-color: black;
    width: 1px;
    margin-top: 2vh;
    height: 86.5vh;
}

.filters {
    margin-left: 1.2em;
    row-gap: 2.5em;
    display: flex;
    flex-direction: column;
}