<div>
    <h1>Shopping Cart</h1>
    <div *ngIf="cartItems.length > 0">
        <div *ngFor="let item of cartItems">
            <img [src]="environment.full_link_image(item.image)" class="img-fluid" />
            <h4>{{ item.name }}</h4>
            <p>{{ item.description }}</p>
            <h4>{{ item.price / 100 | currency }}</h4>
            <p>Quantity : {{ item.quantity }}</p>
            <h4>{{ item.quantity * item.price / 100 | currency }}</h4>
            <div>
                <input type="number" [(ngModel)]="item.quantity" (ngModelChange)="this.changeQuantity(item)" />
            </div>
            <button (click)="this.renderItem(item)" class="btn btn-success">See Product</button>
            <button (click)="this.removeItem(item)" class="btn btn-danger">Remove item from cart</button>
        </div>
        <div>
            <button (click)="this.goToCheckout()" class="btn btn-danger">Checkout</button>
        </div>
    </div>
    <div *ngIf="cartItems.length === 0">
        <h3>Your cart is empty</h3>
    </div>
</div>