.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

app-shop-filter {
    flex: 2;
}

.content_space {
    flex: 11;
    flex-direction: row;
    display: flex;
    justify-content: center;
    overflow: scroll;
    scrollbar-width: none;
}

app-shop-render {
    width: 80%;
}