.main {
    display: flex;
    flex-direction: row;
}

app-shop-filter {
    flex: 2;
}

.content_space {
    height: 100vh;
    width: 60vw;
    overflow: scroll;
    scrollbar-width: none;
}

.scroller {
    overflow: hidden;
    flex: 11;
    flex-direction: row;
    display: flex;
    justify-content: center;
}