/* line div 10px between the two elements */
div {
    align-content: right;
    flex-direction: row;
    display: flex;
    margin-right: .5em;
    float: right;
}

img {
    height: 2.2em;
    width: 2.2em;
}

a + a {
    margin-left: .4em;
}