<div>
    <h1>Catalog</h1>
    <p>
        Available products :
        <input type="checkbox" [(ngModel)]="available" />
    </p>
    <div *ngIf="modifying == '__new__'">
        <app-create-item (onValidation)="detail('')"></app-create-item>
        <button (click)="detail('')" >Cancel</button>
    </div>
    <div *ngIf="modifying != '__new__'">
        <button (click)="detail('__new__')" >Add a new product</button>
    </div>
    <div *ngFor="let item of products">
        <div *ngIf="item.slug != modifying && available == item.is_available">
            <h4>{{ item.name }}</h4>
            Price :<h4>{{ item.price }}</h4>
            Stock :<h4>{{ item.stock }}</h4>
            <form #data="ngForm" (ngSubmit)="update(data)">
                <input type="hidden" name="slug" [(ngModel)]="item.slug" ngModel>
                <input type="checkbox" name="is_unlimited" [(ngModel)]="item.is_unlimited" ngModel> Unlimited stock
                <div *ngIf="!item.is_unlimited">
                    <input type="number" name="new_stock" [(ngModel)]="item.stock" class="form-control" min="0" ngModel>
                </div>
                <button type="submit">Update stock</button>
            </form>
            <button (click)="detail(item.slug)">Modify</button>
        </div>
        <div *ngIf="item.slug == modifying">
            <app-create-item [product]="item" (onValidation)="detail('')"></app-create-item>
            <button (click)="detail('')" >Cancel</button>
        </div>
    </div>
    <div *ngIf="products.length === 0">
        <h4>No products</h4>
    </div>
</div>