<!-- Basic register form -->

<form #data="ngForm" (ngSubmit)="onSubmit(data)">
    <div class="form_group">
        <select name="user_type" [(ngModel)]="userType">
            <option value="SHOPPER" selected>Consumer</option>
            <option value="BRAND">Seller</option>
        </select>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" [ngClass]="{'input_error': fieldErrors.email != null}" name="username" ngModel>
        <div *ngIf="fieldErrors.email != null" class="error">
            {{fieldErrors.email}}
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [ngClass]="{'input_error': fieldErrors.password != null}" name="password" ngModel>
        <div *ngIf="fieldErrors.password != null" class="error">
            {{fieldErrors.password}}
        </div>
    </div>
    <button type="submit">Submit</button>
</form>