.main {
    flex-direction: row;
    display: flex;
    font-size: 1.3em;
    margin-bottom: .5em;
}

.square {
    width: .56em;
    height: .56em;
    background-color: #655021;
    border: 1px solid #655021;
    border-radius: .2em;
    align-self: center;
    margin-top: .22em; /* font-size is 1 em */
}

div + div {
    margin-left: .5em;
}

