.main {
    margin-left: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
.item {
    display: inline-block;
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}