.rangeMin {
    position: absolute;
    top: 0;
    left: 0;
}

.labels {
    width: 60.5%;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    font-size: .8em;
    color: #655021;
    margin-bottom: .3em;
    margin-left: .1em;
}

.range {
    position: relative;
    width: 60%;
}

.range__line {
    position: absolute;
    left: 0;
    top: .25em;
    width: 100%;
    height: .2em;
    background-color: #655021;
    border-radius: .1em;
    opacity: 0.5;
}

.minCursor, .maxCursor {
    position: absolute;
    left: 0;
    top: 0;
    width: .7em;
    height: .7em;
    background-color: #655021;
    border-radius: .5em;
    opacity: 1;
}

.content {
    margin-left: 1em;
}