input[type="checkbox"] {
    display: none;
  }

.box {
    background-color: #655021;
    border-radius: .2em;
    height: .72em;
    width: .72em;
    margin-right: .3em;
}

.white_cross {
    margin-top: -.25em;
    margin-left: .06em;
    visibility: collapse;
    color: white;
    font-size: .776em;
  }

label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

input[type="checkbox"]:checked ~ * .white_cross {
    visibility: visible;
  }

.content {
    margin-left: 1em;
}